CONTAINER_NAME="development-container-for-ros2-on-arm64-mac-u24.04"
IMAGE_NAME="development-container-for-ros2-on-arm64-mac-u24.04:1.1.0"
UBUNTU_VERSION="24.04"
BASE_IMAGE="ghcr.io/tatsuyai713/webtop-kde-base-arm64-u24.04:1.1.0"
USER_LANGUAGE="en"
KEYBOARD_LAYOUT="us"
INSTALL_ROS2="true"
INSTALL_DEV_TOOLS="true"
CONFIG_VOLUME="development-container-for-ros2-on-arm64-mac-u24.04-config"
RESOLUTION="1920x1080"
DPI="96"
STREAM_SCALE="1.0"
FRAMERATE="30"
TIMEZONE="UTC"
HTTP_PORT="50501"
HTTPS_PORT="60501"
ENABLE_XRDP="true"
RDP_PORT="3389"
FOXGLOVE_PORT="8765"
ROSBRIDGE_PORT="9090"
CPUS="4"
MEMORY="8G"
BUILD_CPUS="4"
BUILD_MEMORY="8G"
SHM_SIZE="4G"
MOUNT_HOME="true"
MOUNT_SSH="true"
SSL_DIR=""
RUNTIME_CONFIGURED="true"
